<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ code }}</h1>
        <h2>{{ error }}</h2>
        <p>{{ message }}.</p>
        <a (click)="reloadApplication()" class="btn btn-danger">Voltar ao início</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="operator">
      <img src="../../../assets/operator.png" alt="404 Operator" class="img-fluid">
    </div>
    <p>Parece que algo deu errado. Volte ao início e tente novamente.</p>
  </div>
</body>
<app-footer></app-footer>
