<div class="modal-header">
  <h4 class="modal-title">Lista de Tickets</h4>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Filial</th>
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>
        <th scope="col">Operação</th>
        <th scope="col">Motorista</th>
        <th scope="col">Placa</th>
        <th scope="col">Volume</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <th scope="row">{{ticket.id}}</th>
        <td>{{ticket.branch}}</td>
        <td>{{ticket.description}}</td>
        <td>{{ticket.status}}</td>
        <td>{{ticket.operation}}</td>
        <td>{{ticket.driver}}</td>
        <td>{{ticket.plate}}</td>
        <td>{{ticket.volume}}</td>
        <td>
          <a class="btn btn-primary" (click)="editTicket(ticket)">
            <i class="bi bi-pencil"></i>
          </a>
          <a class="btn btn-danger" (click)="deleteTicket(ticket.id)">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Fechar</button>
</div>
