<div class="sidebar card" [class.expanded]="isExpanded">
  <i class="bi bi-arrow-bar-right icon" (click)="toggleSidebar()" *ngIf="!isExpanded"></i>
  <i class="bi bi-arrow-bar-left icon" (click)="toggleSidebar()" *ngIf="isExpanded"></i>
  <div class="side-header">
    <img src="../../assets/petrolub.png" alt="logo" class="logo" *ngIf="isExpanded"/>
  </div>
  <div class="icons">
    <a class="slot" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">
      <i class="bi bi-graph-up icon"></i>
      <p *ngIf="isExpanded">Dashboard</p>
    </a>
    <a class="slot" routerLink="ticket">
      <i class="bi bi-ticket-detailed icon"></i>
      <p *ngIf="isExpanded">Tickets</p>
    </a>
    <a class="slot" routerLink="reports">
      <i class="bi bi-receipt-cutoff icon"></i>
      <p *ngIf="isExpanded">Relatórios</p>
    </a>
    <a class="slot side-footer" (click)="logout()">
      <i class="bi bi-box-arrow-left icon"></i>
      <p *ngIf="isExpanded">Sair</p>
    </a>
  </div>
</div>
