.card {
  display: block;
  background-color: #efefef;
  min-height: 100px;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  min-width: 920px;
  min-height: 362px;
  padding: 0;
  margin: 20px;
}
